/* [headerWrap 전체 컨테이너] */
/* headerWrap : 광고 배너와 헤더를 묶은 jsp */
#headerWrap {
	display: flex;
	flex-direction: column;
}

/* [header 전체 컨테이너] */
#header {
	display: flex;
	flex-direction: column;
	padding: 10px 0px 15px 0px;  /* 상 우 하 좌 */
}

#headerContents {
	border-bottom: 1px solid #ebebeb;   /* 테두리 아래쪽 연한 그레이*/
}

/* =======================[headerContents의 요소]=======================
   : 일정 간격으로 양끝에 배치(space-between)한다. */
#header #headerContents {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px 15px 10px;  /* 상 우 하 좌 */
}

#headerContents, #nav {
	margin: 0 auto; /* #headerContents와 #nav 요소들 페이지 가운데 정렬 */
  	width: 980px;   /* 전체 너비 980px */
}

#headerContents a, #headerContents ul {
	display: flex;
	align-items: center; /* #headerContents a와 #headerContents ul 요소들을 수직 가운데 배치 */
}

#headerContents img {
	width: 100px; /* CGV 로고 이미지 너비 */
    padding-left: 10px;
	object-fit: cover; /* 오브젝트의 사이즈를 컨테이너 크기에 맞춰 자동 조절 */
}

#headerContents ul {
	margin: 0;
	display: flex;
	justify-content: flex-end;  /* ul 태그들의 요소들을 flex 오른쪽 정렬 */
	width: 700px;  /* ul 태그들이 차지하는 전체 너비 */
}

#headerContents li {
	padding: 0px 15px;  /* 상하 좌우 */
	list-style-type: none;	/* 글머리표 삭제 */
}

#headerContents li a {
	display: flex;
	flex-direction:column;  /* #headerContents 아이콘/텍스트 간 배치 - 세로 정렬 */
	text-decoration-line: none; /* 하이퍼링크 밑줄 제거 */
	margin: 0;
	color: #353535;  /* 채도가 낮은 진한 그레이 */
	font-size: 14px;
	
}

#headerContents li a i { /* headerContents fontawesome 요소 설정*/
	display: flex;
	justify-content: center;  /* 요소들 수평 가운데 배치 */
	font-size: 20px;  /* 아이콘 크기 */
	color: #353535; /* 채도가 낮은 진한 그레이 */
	margin: 15px 0px 5px 0px;
}


/* =======================[nav의 요소]=======================
   : 일정 간격으로 양끝에 배치(space-between)한다. */
#nav {
	display: flex;
	justify-content: space-between;
	align-items: center; /* #nav 요소들 수직 가운데 배치 */
	padding: 15px 10px;    /* 상하 좌우 */
	border-bottom: 1px solid #ED3125;   /* 테두리 아래쪽 레드 */
}

#navContents a {
	color: black;
	font-weight: bold;
	text-decoration-line: none;  /*하이퍼링크 밑줄 제거 */
	padding: 15px;  /* navContents a 요소간 전체 간격 */
}

#navSearch {  /* 검색창 요소 설정 */ 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;  /* 오른쪽 끝 배치 */
}

#navSearch input{
	color: black;
	font-weight: bold;
	margin: 2px; 
	padding: 2px 5px;
}