@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	padding: 15px 10px;  /*상하 좌우*/
	background-color: #ED3125; /* red */
}

/* headerContents .contents의 요소들을 일정 간격으로 양끝에 배치(space-between)한다. */
.header .headerContents {
	display: flex;
	background-color: #ED3125; /* red */
	justify-content: space-between;
	padding: 0px 10px;  /*상하 좌우*/
}

.headerContents, .nav {
	margin: 0 auto; /* 페이지 가운데로 요소 정렬 */
  	width: 980px;   /* 요소 전체 너비 980px */
}

/* li나 a태그의 부모 속성인, ul에 display 요소를 지정해줘야함*/
.headerContents ul {
	display: flex;
	justify-content: flex-end;  /* ul 태그들의 요소들을 flex 오른쪽 정렬*/
	width: 700px;  /*상하 좌우*/
}

.headerContents li {
	padding: 0px 15px;
	list-style-type: none;	/* 글머리표 삭제 */
}

.headerContents li a{
	color: white;
	text-decoration-line: none; /*하이퍼링크 밑줄 제거 */
}

.headerContents img{
	width: 100px;
	height: 40px;
	object-fit: cover; /*오브젝트의 사이즈를 컨테이너 크기에 맞춰 자동 조절 */
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff; /* white */
	padding: 15px 10px;  /*상하 좌우*/
}

.navContents a{
	color: black;
	font-weight: bold;
	text-decoration-line: none; /*하이퍼링크 밑줄 제거 */
	padding: 15px;
}

.navContents input{
	display: flex;
	justify-content: flex-end;  /* ul 태그들의 요소들을 flex 오른쪽 정렬 */
	
	color: black;
	font-weight: bold;
}