@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}

/* ---- 로그인 전체 컨테이너 설정 ---- */
.login_container {
	display: flex;
	flex-direction: column;
	margin: 0 auto; /* 페이지 가운데로 요소 정렬 */
 	width: 980px;   /* 요소 전체 너비 980px */
}

/* ---- 로그인 요소들에 대한 설정 ---- */
.loginSection {
	display: flex;
	flex-direction: column;
	width: 900px;  /*.login_container 하위 클래스 너비 900px */
	margin: 0 auto; /* 페이지 가운데로 요소 정렬 */
	margin-top: 10px;
}

.loginSection h3 {
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5; /* 테두리 색상: 연한 그레이 */
}

/* ---- 로그인 요소들에 대한 설정 ---- */
.loginArticle {
	display: flex;
	flex-direction: row;
  	align-items: center; /* 자식 요소를 수직 중앙으로 정렬 */
  	justify-content: space-between; /* 양쪽에 여백 추가 */
}

/* ---- 로그인 입력 요소들에 대한 설정(아이디, 비번 입력) ---- */
/* input 태그들을 자동으로 세로 배치 */
.loginArticle form {
	display: flex;
	flex-direction: column;
	width: 500px;
  	align-items: center; /* 자식 요소를 수직 중앙으로 정렬 */
  	justify-content: center; /* 자식 요소를 수평 중앙 정렬 */
}
	
.loginInput {
	display: flex;
	flex-direction: column; 
	width: 450px;
	align-items: center; /* 자식 요소를 수직 중앙으로 정렬 */
	justify-content: center;  /* 자식 요소를 수평 중앙 정렬 */
}

.loginInput p {
	font-size: 14px;
	margin-bottom: 3px;
}

.loginInput input[type="text"], .loginInput input[type="password"]{
	margin: 3px 0px;
	width: 406px; /* padding 값 때문에 하위 submit과 크기가 동일하지 않음*/ 
	padding: 10px;
	border: 2px solid #e5e5e5; /* 테두리 색상: 연한 그레이 */
}

.loginInput input[type="submit"] {
	width: 430px;
  	padding: 10px 0px;
  	background-color: #f02d3a; /* 버튼 색상: 다홍색 */
  	color: #ffffff;
	border: 1px solid #f02d3a; /* 테두리 색상: 다홍색 */
	font-size: 14px;
}

/* ---- 영화 광고 포스터에 대한 설정(img) ---- */
.login_ad {
	display: flex;
	flex-direction: column; 
	width: 400px; 
}

.login_ad a {
  display: flex;
  align-items: center; /* 자식 요소를 수직 중앙으로 정렬 */
  justify-content: center; /* 자식 요소를 수평 중앙 정렬 */
}

.login_ad img {
	display: flex;
	width: 80%; /*.login_ad 클래스의 너비 80% 상속 */
}
